<!--
Nawigacja importowana w każdym okienku.
Przekierowuje do:
    strony głównej,
    listy zadań,
    strony dodania nowego zadania.
-->
<nav>
    <a href="/">Home</a>
    <a href="/tasks-list">Tasks List</a>
    <a href="/add-task">Add new task</a>
</nav>