<!--
Część odpowiedzialna za pobranie wiadomości sukcesu i jej wyświetlenie
-->

<div>
    <h2>Success!</h2>
    <p><%= successMessage %></p>
    <p>Check out more actions in the navigation menu.</p>
</div>