<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
    </head>
    <body>
        <%- include('partials/navigation.ejs') %>
        <h1>Edit Task</h1>
        <%- include('partials/taskForm.ejs', { 
            formAction: '/edit-task/' + task.id, 
            task: task, 
            submitButtonText: 'Update Task' 
        }) %>
    </body>
</html>