<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
    </head>
    <body>
        <%- include('partials/navigation.ejs') %>
        <h1>Not found - 404</h1>
        <p>Wrong address! Page you are looking for has not been found.</p>
        <p>Use the navigation menu above to start managing your tasks.</p>
    </body>
</html>