<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
    </head>
    <body>
        <%- include('partials/navigation.ejs') %>
        <h1>Welcome to the Homework Management System</h1>
        <p class="home">This is a simple web application designed to help you manage your homework tasks effectively.<br>
            You can add new tasks, edit existing tasks, set deadlines and mark tasks as completed.</p>
        <p>Use the navigation menu above to start managing your tasks.</p>
    </body>
</html>