<!--
Strona wyświetlająca sukces wykonania danego działania.
Obsługiwana przez kontrolery wyświetla sukces wg potrzeb,
np. dodanego, edytowanego lub usuniętego zadania
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
    </head>
    <body>
        <%- include('partials/navigation.ejs') %>
        <h1>Success</h1>

        <%- include('partials/successMessage.ejs') %>
    </body>
</html>