<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs')%>
    </head>
    <body>
        <%- include('partials/navigation.ejs') %>
        <h1>Tasks list</h1>
        <p>This is a simple web application designed to help you manage your homework tasks effectively. You can add new tasks, set deadlines, and mark tasks as completed.</p>
        <p>Use the navigation menu above to start managing your tasks.</p>
    </body>
</html>